<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="robots" content="index,follow"/>

    {% if page.title %}
        <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
        <title>{{ site.title }}</title>
    {% endif %}
    
    <meta name="description" content="{{ page.description }}"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">

    {% if layout.css %}
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/{{ layout.css }}.css" />
    {% endif %}
</head>