---
---

#posts-list > div
    float: left
    width: 100%
    padding-bottom: 30px

#posts-list > div:not(:first-of-type)
    padding-top: 30px

#posts-list > div:not(:last-of-type)
    border-bottom: 1px solid #333