---
---

@import _fonts.sass
@import _icons.sass

*
    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box

body
    margin: 0
    font-family: 'Montserrat', sans-serif
    font-size: 15pt
    background-color: #0B0E13
    color: #FAFAFA

.body
    display: flex
    min-height: 100vh
    flex-direction: column

a
    outline: none
    text-decoration: underline
    color: #FAFAFA
    transition: all .2s
    -o-transition: all .2s
    -ms-transition: all .2s
    -moz-transition: all .2s
    -webkit-transition: all .2s

a:hover
    color: #FFF !important

.center
    margin: 0 auto
    width: 900px
    max-width: 87%

#site-nav-trigger
    display: none
    float: left
    margin-top: 31px
    margin-left: 30px
    width: auto
    font-size: 1.4em
    cursor: pointer

#site-nav-trigger i
    color: #FAFAFA

#site-nav-trigger i:hover
    color: #FFF

#site-nav-trigger .icon-cross
    display: none

#site-title
    float: left
    padding: 30px 50px
    font-size: 1.4em
    text-decoration: none
    color: #FAFAFA

#site-title a
    text-decoration: none

#site-title a:hover
    color: #FFF

#site-nav
    float: right
    padding: 25px 40px

#site-nav a
    float: left
    margin-top: 2px
    padding: 5px 20px
    font-size: 1em
    text-decoration: none

#site-nav a:last-of-type
    padding-right: 0

#page-content
    flex: 1
    padding-top: 25px

#site-footer
    flex: none
    margin-top: 20px
    padding: 20px 0
    width: 100%

#social-links
    float: right
    font-size: 1.2em

#social-links > div
    float: right
    margin-right: 15px

    &:first-of-type
        margin-right: 0

#social-links a
    text-decoration: none

.single-column
    margin: 0 auto
    width: 750px
    max-width: 100%

.txt-center
    text-align: center

@media screen and (max-width: 1100px)
    .body
        font-size: 1.1em

    #site-nav-trigger
        display: block

    #site-title
        float: none
        text-align: center

    #site-nav
        display: none
        position: fixed
        top: 85px
        left: 0
        width: 100%
        height: 100%
        background-color: #0B0E13
        overflow-x: hidden

    #site-nav a
        float: left
        padding: 20px 40px
        width: 100%
        color: #FAFAFA
        border-bottom: 1px solid #1F1F1F

    #site-nav a:hover
        padding-left: 50px
        border-bottom: 1px solid #525252