---
---

#page-content
    padding-top: 0 !important

.post > div
    float: left
    width: 100%

.post-title
    margin: 20px 0px 0px 0px

.post-meta
    font-size: 0.9em

.post-content
    margin: 45px 0px

.post-tags
    float: left
    width: 100%

.post-tags a
    margin: 10px