---
---

#page-content
    padding-top: 0 !important

.post > div
    float: left
    width: 100%

.post-title
    margin: 20px 0px 0px 0px

.post-meta
    font-size: 0.9em

.post-date
    float: left

.post-author
    float: right

.post-content
    padding-bottom: 10px
    margin: 30px 0px 20px 0
    border-bottom: 1px solid #333

.post-categories,
.post-tags
    float: left
    margin: 10px 0
    width: 100%

.post-categories a,
.post-tags a
    margin: 10px