---
---

#page-content
    padding-top: 0 !important

.post > div
    float: left
    width: 100%

.post-title
    margin: 20px 0px 0px 0px

.post-meta
    margin-top: 10px
    font-size: 0.9em

.post-author
    float: left

.post-date
    float: right

.post-content
    padding: 5px 0px
    margin: 20px 0px 20px 0
    border-top: 1px solid #222
    border-bottom: 1px solid #222

.post-categories,
.post-tags
    float: left
    margin: 10px 0
    width: 100%

.post-categories a,
.post-tags a
    margin: 10px
    text-decoration: none

.post-categories a:hover,
.post-tags a:hover
    text-decoration: underline