---
layout: page
css: blog
---

<div id="posts-list">
	{% for post in site.posts %}
		<div>
			<div class="title">
				<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			</div>
			<div class="excerpt">
				{{ post.content | strip_html | truncatewords: 25 }}
			</div>
			<div class="date">
				{{ post.date | date: "%b %-d, %Y" }}
			</div>
		</div>
	{% endfor %}
</div>

<div id="posts-meta">
	<a href="{{ site.baseurl }}/categories/">View all categories</a>
	<a href="{{ site.baseurl }}/tags/">View all tags</a>
</div>

<div id="posts-pagination">
</div>