---
layout: default-center
---

<div class="breadcrumb">
	<ul>
		<li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
		<li><a href="{{ site.baseurl }}/blog/tags/">Tags</a></li>
		<li>{{ page.title }}</li>
	</ul>
</div>

<div class="list">
	{% for post in page.posts %}

		<a class="item" href="{{ post.url | relative_url }}">
			<span class="item-date">{{ post.date | date: "%b %-d, %Y" }}</span>
			<span class="item-separator">|</span>
			<span>{{ post.title }}</span>
		</a>

	{% endfor %}
</div>